.item1{
    flex-basis: 110px;
}
.item2{
    flex-basis: 80px;
}
.item3{
    flex-basis: 110px;
}
.item4{
    flex-basis: 200px ;
}
.item5{
    flex-basis: 120px;
}
.item6{
    flex-basis: 90px;
}
.item7{
    flex-basis: 130px;
}
.item8{
    flex-basis: 100px;
}
.item9{
    flex-basis: 20px;
}
.item10{
    flex-basis: 160px;
}
